<div class="main-content">
  <div id="page-wrapper">
    <div class="inner-content">
      <div class="music-left">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
