<div id="menu">
  <ul>
      <% @category_artist.each do |category| %>
        <li>
          <%= link_to category.name %>
        </li>
      <% end %>
  </ul>
</div>
<div class="clearfix"></div>
<%= render "artists/list_artist" %>
