$color_1: #E6E4E4;
$color_2: #0a0808;
$color_3: rgba(0, 0, 0, 0.07);
$color_4: #f1f1f1;
$color_5: #ccc;
$color_6: #4CAF50;
$color_white: white;
$color_7: #F1F3FA;
$color_8: #5a7391;
$color_9: #5b9bd1;
$color_10: #f0f4f7;
$color_11: #93a3b5;
$color_12: #fafcfd;
$color_13: #f6f9fb;
