@import 'bootstrap';
@import 'font-awesome';
@import 'audio';
@import 'easy-responsive-tabs';
@import 'icon-font';
@import 'jplayer.blue.monday.min';
@import 'popuo-box';
@import 'style';
@import 'color';
@import 'artists';

/*hover_menu_left*/

.hover_menu_left_x .hover_menu_left_0{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: $color_white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top:0;
  margin-left: 40px;
  margin-top: 8px;
  position: absolute;
  z-index: 1;
}
.hover_menu_left_x:hover .hover_menu_left_0{
  visibility: visible;
}

.sign-right input[type='text'], .sign-right input[type='email'], .sign-right input[type='password'] {
  width: 100%;
  padding: 5px 13px;
  font-weight: normal;
  background: none;
  border: 1px solid $color_1;
  color: $color_2;
  outline: none;
  font-size: 14px;
  margin-top: 11px;
  font-family: 'Lato-Regular';
  box-shadow: inset 0 1px 1px 1px $color_3;
  -o-box-shadow: inset 0 1px 1px $color_3;
  -moz-box-shadow: inset 0 1px 1px 1px $color_3;
  -webkit-box-shadow: inset 0 1px 1px 1px $color_3;
  border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#loginForm .checkbox {
  width: auto;
  margin: 14px 6px 0 0;
  float: left;
  padding: 0;
  border: 0;
}

.forgot_password {
  h2, label {font-family: Arial, Helvetica, sans-serif;}
  form {
    border: 3px solid $color_4;
    padding: 50px 30px 20px;
  }

  .form-controll {
    padding: 20px 12px;
  }

  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $color_5;
    box-sizing: border-box;
  }

  button {
    background-color: $color_6;
    color: $color_white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .space {
    margin-bottom: 15px;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
}
