@import 'bootstrap';
@import 'font-awesome';
@import 'audio';
@import 'easy-responsive-tabs';
@import 'icon-font';
@import 'jplayer.blue.monday.min';
@import 'popuo-box';
@import 'style';
@import 'color';
@import 'artists';

/*hover_menu_left*/

.hover_menu_left_x .hover_menu_left_0{
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      top:0;
      margin-left: 40px;
      margin-top: 8px;
      position: absolute;
      z-index: 1;
}
.hover_menu_left_x:hover .hover_menu_left_0{
    visibility: visible;
}
