<div class="col-md-4 player">
  <div class="audio-player">
    <audio id="audio-player"  controls="controls">
      <source src="#" type="audio/ogg"></source>
      <source src="#" type="audio/mpeg"></source>
      <source src="#" type="audio/ogg"></source>
      <source src="#" type="audio/mpeg"></source>
    </audio>
  </div>
  <ul class="next-top">
    <li>
      <%= link_to "#", class: "ar" do %>
        <%= image_tag "arrow.png", alt: "" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "ar2" do %>
        <%= image_tag "arrow2.png", alt: "" %>
      <% end %>
    </li>
  </ul>
</div>
