<div class="col-md-4 serch-part">
  <div id="sb-search" class="sb-search">
  	<ul>
  		<li>
		    <form action="artists_path" method="get">
		      <input class="sb-search-input" placeholder="Enter search..." type="text"
		        name="search" id="search">
		      <input class="sb-search-submit" type="submit" value="">
		      <span class="sb-icon-search"></span>
		    </form>
      </li>
    </ul>
  </div>
</div>
